<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food</title>
</head>
{% load static %}
{% include 'header.html' %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
		      <a class="navbar-brand" href="{%  url 'merchantprofile' %}"><span class="flaticon-pizza-1 mr-1"></span>Street Food<br><small>Delivery System</small></a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="oi oi-menu"></span> Menu
		      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/merchant_details_display/" class="nav-link">Hotel</a></li>
                <li class="nav-item "><a href="/merchant_view_feedback/" class="nav-link">Feedbacks</a></li>
				<li class="nav-item"><a href="/merchant_change_password/" class="nav-link">changepassword</a></li>
                <li class="nav-item"><a href="/merchant_logout/" class="nav-link">Logout</a></li>

	        </ul>
	      </div>
        </div>
	  </nav>
<img src="{% static 'images/change2.jpg' %}" width="100%" />
<br>
  <section class="ftco-section contact-section">
      <div class="container mt-5">
        <div class="row block-9">
			<div class="col-md-6 ftco-animate">
            <form action="" class="contact-form" method="post" enctype="multipart/form-data">
				<h2>AddFood Here</h2>
				{% csrf_token %}

                <div class="form-group">
               <label>Enter Hotel Id:</label>
	                <div class="form-group">
	                  <input type="text" class="form-control" name="merchant" value="{{id}}" readonly placeholder="Hotel name">
	                </div>
                </div>

                 <div class="form-group">
               <label>Enter Food name:</label>
	                <div class="form-group">
	                  <input type="text" class="form-control" name="foodname" placeholder="Food Name" required>
	                </div>
                </div>

                <div class="form-group">
                    <label for="type">FoodType:</label>
                    <select name="type" id="type" required>
                 <option value="nonveg">nonveg</option>
                 <option value="veg">veg</option>
                    </select>
                </div>


                <div class="form-group">
               <label>Food Image:</label>
	                <div class="form-group">
	                  <input type="file" class="form-control" name="image" placeholder="Img" multiple required>
	                </div>
                </div>



                 <div class="form-group">
               <label>Enter Cost:</label>
	                <div class="form-group">
	                  <input type="number" class="form-control" name="cost" placeholder="Cost" required>
	                </div>
                </div>

                <div class="form-group">
               <label>Enter Discount:</label>
	                <div class="form-group">
	                  <input type="number" class="form-control" name="discount" placeholder="Discount" required>
	                </div>
                </div>
                <div class="form-group">
               <label>Enter Description:</label>
	                <div class="form-group">
                        <textarea name="description" id="description" class="form-group" placeholder="About Food" rows="4" cols="30" required></textarea>
	                </div>
                </div>


                <div class="form-group">
                <label for="category">Category:</label>
               <select name="categoty" id="category" required>
                 <option value="shawarma">shawarma</option>
                  <option value="manchurian">manchurian</option>
                 <option value="fastfood">fastfood</option>
                 <option value="freaky">freaky</option>
                 <option value="others">others</option>
                </select>
                </div>
              <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary py-3 px-5">{{msg}}
              </div>
            </form>
	  </div>
		</div></div>
    </section>
</html>

{% include 'footer.html' %}
