<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>cart</title>
</head>
{% include 'header.html' %}
  	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
		      <a class="navbar-brand" href="{%  url 'customerprofile' %}"><span class="flaticon-pizza-1 mr-1"></span>Street Food<br><small>Delivery System</small></a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="oi oi-menu"></span> Menu
		      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	           <li class="nav-item"><a href="/customer_details_display/" class="nav-link">MyDetails</a></li>
	          <li class="nav-item"><a href="/customer_change_password/" class="nav-link">changepassword</a></li>
				<li class="nav-item"><a href="/add_address/" class="nav-link">Add Address</a></li>
				<li class="nav-item"><a href="/customer_view_address/" class="nav-link">View Address</a></li>
	          <li class="nav-item"><a href="/customer_view_food/" class="nav-link">Hotels</a></li>
				<li class="nav-item"><a href="/customer_view_order/" class="nav-link">My Cart</a></li>
				<li class="nav-item"><a href="/customer_view_orders/" class="nav-link">View Orders</a></li>
	          <li class="nav-item"><a href="/customer_logout/" class="nav-link">Logout</a></li>


	        </ul>
	      </div>
		  </div>
	  </nav>
<body onload="getPrice();" >
<img src="{% static 'images/edit22.jpg' %}" height="400px" width="100%" />
<section class="ftco-section contact-section">
      <div class="container mt-5">
        <div class="row block-9">
			<div class="col-md-6 ftco-animate">
            <form action="{% url 'customer_order_update' %}" class="contact-form" method="post" enctype="multipart/form-data">
				{% csrf_token %}


               <div class="form-group">
               <label> Hotel Hotel:</label>
	                <div class="form-group">
	                  <input type="text" class="form-control" name="hotel"  value="{{food.food.merchant.fullname}}" placeholder=" name" readonly>
	                </div>
                </div>


				 <div class="form-group">
               <label>Customer_Id</label>
	                <div class="form-group">
	                  <input type="text" class="form-control" name="customer" value="{{food.customer.id}}" placeholder="name" readonly>
	                </div>
                </div>


               <div class="form-group">
               <label>Food Id:</label>
	                <div class="form-group">
	                  <input type="text" class="form-control" name="food" value="{{food.food.id}}" placeholder=" name" readonly >
	                </div>
                </div>


<div class="form-group">
               <label>Foodname:</label>
	                <div class="form-group">
	                  <input type="text" class="form-control" name="foodname"  id="foodname" value="{{food.food.foodname}}" placeholder="food name" required readonly>
	                </div>
                </div>

				<div class="form-group">
               <label>Type:</label>
	                <div class="form-group">
	                  <input type="text" class="form-control" name="type"  id="type" value="{{food.food.type}}" placeholder="food name" required readonly>
	                </div>
                </div>

				<div class="form-group">
               <label>Image:</label>
	                <div class="form-group">
                           <img src="{{food.food.image.url}}" height="180px" width="180px" >	</div>
                </div>



              <div class="form-group">
				  <label>Add to cart</label>
              <input type="button" onclick="decrementValue()" required readonly value="-" />
             <input type="text" name="cart" value="{{food.cart}}" maxlength="2" max="10" size="1" id="number" />
               <input type="button" onclick="incrementValue();" value="+"/>
                </div>



               <div class="form-group">
               <label>Cost:</label>
	                <div class="form-group">
	                  <input type="text" class="form-control" id="cost" value="{{food.cost}}" name="cost" placeholder="Cost" required readonly>
	                </div>
                </div>

                 <div class="form-group">
               <label>Discount:</label>
	                <div class="form-group">
	                  <input type="text" class="form-control" name="discount"  id="discount" value="{{food.discount}}" placeholder="Discount" required readonly >
	                </div>
                </div>

                 <div class="form-group">
               <label>Final Cost:</label>
	                <div class="form-group">
	                  <input type="text" class="form-control" id="total" name="finalcost" placeholder="Total cost"  readonly>
	                </div>
                </div>

				<input type="hidden" name="id" value="{{food.id}}">

              <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary py-3 px-5">
              </div>
				<div> {{msg}} </div>
			</form></div></div></div></section>
</body>
</html>
{% include 'footer.html' %}

<script>
	 function  getPrice()
	 {
		var numVal1 = Number(document.getElementById("cost").value);
		var numVal2 = Number(document.getElementById("discount").value);
		var totalValue = numVal1 - numVal2
		document.getElementById("total").value = totalValue;

	}

function incrementValue()
{
    var value = parseInt(document.getElementById('number').value, 10);
    value = isNaN(value) ? 0 : value;
    if(value<10){
        value++;
            document.getElementById('number').value = value;
			var cost=parseInt(document.getElementById('cost').value);
			var discount=parseInt(document.getElementById('discount').value);
			var totalcost=cost*value-discount*value;
			document.getElementById("total").value=totalcost;

    }
}
function decrementValue()
{
    var value = parseInt(document.getElementById('number').value, 10);
    value = isNaN(value) ? 0 : value;
    if(value>1){
        value--;
            document.getElementById('number').value = value;
            var cost=parseInt(document.getElementById('cost').value);
			var discount=parseInt(document.getElementById('discount').value);
			var totalcost=cost*value-discount*value;
			document.getElementById("total").value=totalcost;

    }

}
</script>
