<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food</title>
   <title>Food</title>
</head>
{% load static %}
{% include 'header.html' %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
		      <a class="navbar-brand" href="{%  url 'merchantprofile' %}"><span class="flaticon-pizza-1 mr-1"></span>Street Food<br><small>Delivery System</small></a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="oi oi-menu"></span> Menu
		      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="/merchant_details_display/" class="nav-link">Hotel</a></li>
                <li class="nav-item "><a href="/merchant_view_feedback/" class="nav-link">Feedbacks</a></li>
	          <li class="nav-item"><a href="/merchant_change_password/" class="nav-link">Change Password</a></li>
                <li class="nav-item"><a href="/merchant_view_orders/" class="nav-link">View Orders</a></li>
                <li class="nav-item"><a href="/merchant_logout/" class="nav-link">Logout</a></li>

	        </ul>
	      </div>
        </div>
	  </nav>
<body>
<img src="{% static 'images/edit33.jpg' %}" width="100%" />
<br><br>
<table border="1" cellpadding="10" cellspacing="0" style="color:#FFFFFF" width="100%">
  <thead>
  <tr>
       <th>Id</th>
        <th>Order Id</th>
        <th>Customer Email</th>
        <th>Hotel Mail</th>
        <th>Food Name</th>
        <th>No.Of. Quantity</th>
        <th>Cost</th>
        <th>Discount</th>
        <th>Total Cost</th>
  </tr>
  </thead>
    <tbody>
    {% for orders in orders %}
    <tr>
        <td>{{orders.id}}</td>
        <td>{{orders.order.id}}</td>
        <td>{{orders.email}}</td>
        <td>{{orders.vmail}}</td>
        <td>{{orders.foodname}}</td>
        <td>{{orders.quantity}}</td>
        <td>{{orders.cost}}</td>
        <td>{{orders.discount}}</td>
        <td>{{orders.total}}</td>

        <!--<td>
    {% if orders.status == "Pending" %}
    <a href="{% url 'accept_checkout' id=orders.id %}" class="btn btn-primary">Accept</a>
    <a href="{% url 'reject_checkout' id=orders.id %}" class="btn btn-danger">Reject</a>
    {% elif orders.status == 'Accepted' %}
    <a href="{% url 'delivery_checkout' id=orders.id %}" class="btn btn-danger">Delivery</a>
    {% elif orders.status == 'Rejected' %}
    <button class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Rejected</button>
    {% elif orders.status == 'Cancelled' %}
    {{orders.reason}}
    {% else %}
    {% endif %}
</td>-->

       <!-- <td><a href="{% url 'merchant_view_order_items' id=orders.id %}">View Orders Items</a> </td>
        <td><a href="/food_edit/{{food.id}}">Edit</a></td>
        <td><a href="/food_delete/{{food.id}}" onclick="return confirm('really want delete?');">Delete</a></td>-->
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
{% include 'footer.html' %}